<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css"/>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
    <title>View Courses</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BalanceU</a>
            <!-- <img src="../img/logo.jpg" width="40" height="60" alt=""/> -->
            <img th:src="@{/img/logo.jpg}" width="40" height="60" alt=""/>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/welcome.html">Home</a></li>
                <li><a href="/viewcourses.html">View Courses</a></li>
                <li><a href="/search.html">Search Class</a></li>
                <li class="active"><a href="/addclass.html">Course Feedback</a></li>
                <li><a href="/discussion.html">Discussion</a></li>
                <li><a href="/help.html">Help</a></li>
                <li><a href="/admin.html">Admin</a></li>
                <li><a href="/logout.html">Logout</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..."/>
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <h3 class="col-md-4 col-md-offset-4">End of Course Evaluation</h3>
    <div class="row">
        <form class="addclassform" action="#" th:action="@{/addclass.html}" th:object="${course}" method="post" role="form">
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="coursenumber">School Name</label>
                <select class="form-control" id="schoolList" name="schoolList" th:field="*{school}">
                    <option value="">Select University</option>
                    <!--<option th:each="test : ${tests}"
                            th:value="${test.testCode}"
                            th:text="${test.testCode}+' : '+${test.testName}"></option>-->
                    <option value="Georgetown University">Georgetown University</option>
                    <option value="Harvard University">Harvard University</option>
                    <option value="Boston University">Boston University</option>
                    <option value="Yale University">Yale University</option>
                    <option value="Harvard Extension School">Harvard Extension School</option>
                </select>
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="coursenumber">Course name</label>
                <input type="text" class="form-control" id="coursename" placeholder="Course Name" th:field="*{name}"/>
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="coursenumber">Course Number</label>
                <input type="text" class="form-control" id="coursenumber" placeholder="Course Number" th:field="*{number}"/>
            </div>
            <div class="form-group col-md-4 col-md-offset-4">
                <label for="workload">Workload</label>
                <input type="text" class="form-control" id="workload" placeholder="Workload in Hours" th:field="*{workload}"/>
            </div>
            <button type="submit" class="btn btn-primary col-md-2 col-md-offset-5">Submit</button>
        </form>
    </div>
</div>

</body>
<footer class="footer">
    <div class="container">
        <p class="text-muted"><strong class="">© scrumdiddlyumptious 2016</strong></p>
    </div>
</footer>
</html>

