<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>BalanceU Course Input Page</title>
</head>
<body>
<h2>This is a test page allowing input for BalanceU.</h2>
<h3>To see the list of courses entered so far, <a href="viewcourses.html"> click here </a>.</h3>
<p>You can return to this form and add as many classes as you like, but unforunately, you
    have to manually erase the data in the form each time (working on it).</p>
<form action="#" th:action="@{/}" th:object="${course}" method="post">
    <table>
        <tr>
            <td>Name of School:</td>
            <td><input type="text" th:field="*{school}" /></td>
            <td th:if="${#fields.hasErrors('school')}" th:errors="*{school}">School error message</td>
        </tr>
        <tr>
            <td>Course Title:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error message</td>
        </tr>
        <tr>
            <td>Course Number:</td>
            <td><input type="text" th:field="*{number}" /></td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Course Number error message</td>
        </tr>
        <tr>
            <td>Course Workload:</td>
            <td><input type="text" th:field="*{workload}" /></td>
            <td th:if="${#fields.hasErrors('workload')}" th:errors="*{workload}">Workload error message</td>
        </tr>

        <tr>
            <td><button type="submit">Submit post</button></td>
        </tr>
    </table>
</form>
</body>
</html>