<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>View Courses</title>
</head>
<body>
<h2>This is a test page that will show the course list</h2>
<p th:each="course : ${courses}">
<h4>Name:</h4>
<div th:text="${course.name}"></div>
<h4>Number:</h4>
<div th:text="${course.number}"></div>
<h4>Max # of Enrollments:</h4>
<div th:text="${course.maxNumOfEnrollments}"></div>
<h4>Course Level:</h4>
<div th:text="${course.courseLevel}"></div>
<h4>Style:</h4>
<div th:text="${course.style}"></div>
<div>---------------------------------------------------------</div>
</p>
</body>
</html>