<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.1/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}" />
    <title>Welcome to BalanceU</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BalanceU</a>
            <!-- <img src="../img/logo.jpg" width="40" height="60" alt=""/> -->
            <img th:src="@{/img/logo.jpg}" width="40" height="60" alt=""/>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li  class="active"><a href="/welcome.html">Home</a></li>
                <li><a href="/discussion.html">Discussion</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/help.html">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..."/>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/viewcourses.html">Course List</a></li>
                <li><a href="/addclass.html">Add a Course</a></li>
                <li><a href="/logout.html">Logout</a></li>
                <li><a href="/export.html">Export Report</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="sub-header">What's BalanceU?</h1>
            <p>BalanceU helps students balance their life with their school commitments by providing visibility into how much time is required
                by each class. Wouldn't it be great if you knew how much time a class was going to take <b>before you registered</b> for it?</p>
        </div>
    </div>
</div>
</body>
</html>
